Repository ttk-cli/vue3-vite-ts-pinia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

fix: keep alive
  src/components/layout/Header.vue
  src/pages/index.vue
  src/store/app.ts
Due: eslint --fix, stylelint --fix

0.0.11
  package-lock.json
  package.json
Due: none

chore: 移除无用代码
  .env.beta
  .env.dev
  .env.prod
  unocss.config.ts
Due: eslint --fix

feat: 样式优化
  src/components/base/TreeMenu.vue
Due: eslint --fix, stylelint --fix

chore: update
  package-lock.json
  package.json
  src/helper/pinia-auto-refs.ts
Due: eslint --fix

fix: 过滤菜单项
  src/components/layout/Aside.vue
Due: eslint --fix, stylelint --fix

feat: 代码优化
  src/components/base/TreeMenu.vue
  src/components/layout/Header.vue
  src/pages/index.vue
Due: eslint --fix, stylelint --fix

feat: 菜单样式优化
  src/components.d.ts
  src/components/layout/Aside.vue
Due: eslint --fix, stylelint --fix

feat: keep-alive 优化
  src/components/layout/Header.vue
  src/pages/index.vue
Due: eslint --fix, stylelint --fix

feat: axios 优化
  .eslintrc-auto-import-types.json
  eslint.config.js
  src/@types/api.d.ts
  src/api/apiTest.ts
  src/shims.axios.d.ts
  src/utils/axios.ts
Due: eslint --fix

feat: 样式优化
  .stylelintrc.cjs
  src/styles/base.scss
  src/styles/element.scss
Due: stylelint --fix

feat: 样式优化
  src/styles/variable.scss
Due: stylelint --fix

feat: tab优化
  src/components/layout/Header.vue
Due: eslint --fix, stylelint --fix

feat: 样式优化
  src/components/layout/Aside.vue
Due: eslint --fix, stylelint --fix

feat: layout
  package-lock.json
  package.json
  src/components/layout/Aside.vue
  src/components/layout/Header.vue
  src/env.d.ts
  src/layouts/default.vue
  src/pages/[...path].vue
  src/pages/index.vue
  src/pages/login.vue
  src/pages/test1.vue
  src/pages/test1/test1_1.vue
  src/pages/test1/test1_1/test1_1_1.vue
  src/pages/test1/test1_2.vue
  src/pages/test1/test1_3.vue
  src/pages/test2.vue
  src/pages/test3.vue
  src/router/index.ts
  src/store/app.ts
  src/typed-router.d.ts
  src/views/dashboard.vue
  tsconfig.json
  vite.config.ts
Due: eslint --fix, stylelint --fix

chore: remove vite plugin generated files
  .eslintrc-auto-import-types.json
  .eslintrc-auto-import.json
  src/auto-imports.d.ts
  src/components.d.ts
  src/helper/pinia-auto-refs.ts
  src/typed-router.d.ts
Due: eslint --fix

chore: update
  .gitignore
Due: none

chore: update
  vite.config.ts
Due: eslint --fix

chore: update
  package.json
Due: none

fix: keepalive
  src/layouts/default.vue
Due: eslint --fix, stylelint --fix

feat: 标签页优化
  src/@types/store.d.ts
  src/components/layout/Header.vue
  src/layouts/default.vue
  src/router/index.ts
  src/store/app.ts
Due: eslint --fix, stylelint --fix

feat: 标签页优化
  src/components/layout/Header.vue
  src/layouts/default.vue
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  stylelint --fix: any of: src/**/*.{css,scss,vue}
