Repository ttk-cli/vue3-vite-ts-pinia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

chore: update auto-import-types
  package-lock.json
  package.json
Due: none

chore(deps): update (dev) dependencies (patch)
  package-lock.json
  package.json
Due: none

chore(deps): update dependency commitlint to v16.3.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-config-prettier to v8.5.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-plugin-prettier to v3.4.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-plugin-vue to v7.20.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency postcss-html to v1.4.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency sass to v1.52.3
  package-lock.json
  package.json
Due: none

chore: update
  .eslintrc-auto-import.json
  package-lock.json
  package.json
  src/auto-imports.d.ts
Due: eslint --fix

fix: vite preview mode change components.d.ts
  vite.config.ts
Due: eslint --fix

fix: addPage path
  auto/addPage.ts
Due: eslint --fix

feat: add TreeMenu
  .eslintrc.js
  src/components.d.ts
  src/components/base/TreeMenu.vue
  src/components/layout/Aside.vue
  src/pages.json
  src/views/test1/test1_1/index.vue
  src/views/test1/test1_1/test1_1_1/index.vue
Due: eslint --fix, stylelint --fix

chore: update
  package-lock.json
  package.json
  src/components.d.ts
Due: eslint --fix

feat: update utils
  src/utils/is.ts
  src/utils/looseEqual.ts
  src/utils/shared.ts
Due: eslint --fix

fix: make vite plugins not work on preview
  vite.config.ts
Due: eslint --fix

0.0.5
  package-lock.json
  package.json
Due: none

feat: add .editorconfig
  .editorconfig
  .vscode/extensions.json
  README.md
  unocss.config.ts
Due: eslint --fix

chore: fix dts
  package-lock.json
  package.json
  src/components.d.ts
  vite.config.ts
Due: eslint --fix

chore: npm config
  .npmrc
  package-lock.json
  package.json
Due: none

feat: deepClone
  src/utils/clone.ts
  src/utils/shared.ts
Due: eslint --fix

improvement: update snippets
  .vscode/api.code-snippets
Due: none

improvement: update code snippets
  .vscode/api.code-snippets
Due: none

test: 1
  src/views/dashboard/index.vue
Due: eslint --fix, stylelint --fix

ci: prevent file with merge conflicts
  .husky/pre-commit
Due: none

0.0.6
  package-lock.json
  package.json
Due: none

feat: update icon
  package-lock.json
  package.json
  src/components/base/Icon.vue
  src/components/base/TreeMenu.vue
  src/components/layout/Header.vue
  src/styles/base.scss
  src/views/dashboard/index.vue
  unocss.config.ts
Due: eslint --fix, stylelint --fix

docs: update faq
  FAQ.md
Due: none

0.0.7
  package-lock.json
  package.json
Due: none

chore: update
  .npmrc
  .nvmrc
  .vscode/settings.json
Due: none

feat: 请求优化
  src/utils/axios.ts
  src/views/dashboard/index.vue
Due: eslint --fix, stylelint --fix

feat: unocss 优化
  src/components/base/TreeMenu.vue
  src/components/layout/Header.vue
  src/views/dashboard/index.vue
  unocss.config.ts
Due: eslint --fix, stylelint --fix

0.0.8
  package-lock.json
  package.json
Due: none

fix: locale
  src/App.vue
Due: eslint --fix, stylelint --fix

0.0.9
  package-lock.json
  package.json
Due: none

feat: 过渡动效优化
  src/styles/transition.scss
Due: stylelint --fix

0.0.10
  package-lock.json
  package.json
Due: none

feat: loading优化
  src/@types/api.d.ts
  src/config/commonParams.ts
  src/shims.axios.d.ts
  src/utils/axios.ts
  src/views/dashboard.vue
Due: eslint --fix, stylelint --fix

feat: 移除无用代码
  src/utils/router.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  stylelint --fix: any of: src/**/*.{css,scss,vue}
